<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__fadeInUp">Valor, Identidad, Mérito y Oportunidad</p>

<div class="headerHDV animate__animated animate__fadeIn">
    <div class="headerBlock">
        <button class="headButton animate__animated animate__pulse animate__infinite" id="createPage">Crear
            Usuario</button>
    </div>
    <div class="headerBlock">
        <h2 class="titleMain animate__animated animate__fadeIn">Hojas de vida</h2>
    </div>
    <div class="headerBlock">
        <button class="headButton animate__animated animate__pulse animate__infinite" id="evaPage">Sistema de
            Evaluaciones</button>
    </div>
</div>
<h4 class="countMain animate__animated animate__fadeIn">Número de Docentes: <span
        id="docCount">Loading...</span></h4>

<select class="courseAC animate__animated animate__fadeInUp animate__delay-1s" id="courseAC" required>
    <option>Todos los programas</option>
    <option>Tecnología En Desarrollo De Software</option>
    <option>Medicina</option>
    <option>Ingenería Electrónica</option>
</select><br>
<div id="list" class="adds animate__animated animate__fadeIn"></div>