<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__fadeInDown">Valor, Identidad, Mérito y Oportunidad</p>

<div class="headerHDV animate__animated animate__fadeIn">
    <div class="headerBlock">
        <button class="headButton animate__animated animate__pulse animate__infinite" id="createPage"
            routerLink="/createUser">Crear
            Usuario</button>
    </div>
    <div class="headerBlock">
        <h2 class="titleMain animate__animated animate__fadeIn">Hojas de vida</h2>
    </div>
    <div class="headerBlock">
        <button class="headButton animate__animated animate__pulse animate__infinite" id="evaPage"
            routerLink="/stadistics">Sistema
            Estadístico</button>
    </div>
</div>
<h4 class="countMain animate__animated animate__fadeIn">Número de Empleados: <span id="docCount">{{ totalEmployees
        }}</span></h4>

<select class="typeMain animate__animated animate__fadeInUp " id="courseAC" required>
    <option>Todos los Empleados</option>
    <option>Administración</option>
    <option>Producción</option>
    <option>Calidad</option>
</select><br>

<ul class="list animate__animated animate__zoomIn animate__delay-1s">
    <li *ngIf="cargando" class="loading">Cargando reservas...</li>
    <li *ngIf="error">{{ error }}</li>
    <li *ngFor="let employee of employees">
        <div class="card">
            <img *ngIf="employee.photoUrl" [src]="employee.photoUrl" class="card-img-top" alt="Foto del empleado" />
            <p class="card-title">{{employee.name}}</p>
            <button class="buttonMain animate__animated animate__pulse animate__infinite"
                [routerLink]="['/resumeInfo', employee.name]">Ver
                más</button>
        </div>
    </li>
</ul>