<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__fadeInDown">Valor, Identidad, Mérito y Oportunidad</p>

<h2 class="secondName animate__animated animate__zoomIn">Sistema de Hojas de Vida</h2>
<h3 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Información Personal</h3>
<p class="infoText animate__animated animate__fadeIn animate__delay-1s">Los campos con asteriscos(*) son obligatorios
</p>

<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="nombre" class="labelInfo">Nombre Completo*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" #name type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="phone" class="labelInfo">Teléfono*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" #phone type="number" id="phone" name="phone" placeholder="Ingrese su teléfono" required
            autocomplete="off">
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="age" class="labelInfo">Edad*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" #age type="number" id="age" name="age" placeholder="Ingrese su edad" required
            autocomplete="off">
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="email" class="labelInfo">Correo Electrónico*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" #email type="email" id="email" name="email" placeholder="Ingrese su correo" required
            autocomplete="off">
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="cedula" class="labelInfo">D.I.*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" #ide type="number" id="cedula" name="cedula" placeholder="Ingrese su identificación"
            required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="di" class="labelInfo">D.I. copia*</label>
    </div>
    <div class="blockInfo2">
        <input type="file" id="di" name="di" required (change)="onFileSelected($event, 'ide')">
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="genre" class="labelInfo">Genero*</label>
    </div>
    <div class="blockInfo2">
        <select class="typeGenre" id="genre" #genre>
            <option>Masculino</option>
            <option>Femenino</option>
            <option>Otro</option>
        </select>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="nation" class="labelInfo">Nacionalidad*</label>
    </div>
    <div class="blockInfo2">
        <input #nationality class="inputInfo" type="text" id="nation" name="nation"
            placeholder="Ingrese su nacionalidad" required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="link" class="labelInfo">Enlace a LinkedIn</label>
    </div>
    <div class="blockInfo2">
        <input #linkedin class="inputInfo" type="url" id="link" name="link" placeholder="Ingrese su enlace(Opcional)">
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="photo" class="labelInfo">Foto HVD*</label>
    </div>
    <div class="blockInfo2">
        <input type="file" id="photo" name="photo" required (change)="onFileSelected($event, 'photo')">
    </div>
</div>

<p id="error-message" class="errorFile"></p>

<h3 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Formación Academica</h3>
<p class="infoText animate__animated animate__fadeIn animate__delay-1s">Ingrese únicamente sus estudios formales (como
    títulos o grados
    académicos).
    No incluir cursos, seminarios u otras capacitaciones.</p>

<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="studies" class="labelInfo">Agregar título*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="studies" name="studies" placeholder="Ingrese su título" required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="studyType" class="labelInfo">Tipo*</label>
    </div>
    <div class="blockInfo2">
        <select class="typeGenre" id="studyType">
            <option selected disabled>Seleccione Un Tipo</option>
            <option>Sin Estudios</option>
            <option>Primaria</option>
            <option>Secundaria</option>
            <option>Bachiller Académico</option>
            <option>Bachiller Técnico</option>
            <option>Técnico Laboral</option>
            <option>Técnico Profesional</option>
            <option>Tecnólogo</option>
            <option>Profesional Universitario</option>
            <option>Especialización</option>
            <option>Maestría / Magister</option>
            <option>Doctorado / PhD</option>
        </select>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="place" class="labelInfo">Institución*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="place" name="place" placeholder="Ingrese la institución de ejecución"
            required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="certificate" class="labelInfo">Certificado*</label>
    </div>
    <div class="blockInfo2">
        <input type="file" id="certificate" name="certificate" required>
    </div>
</div>
<div class="buttonBlock animate__animated animate__zoomIn animate__delay-1s">
    <button id="addStudy" class="addButton animate__animated animate__pulse animate__infinite">Añadir Estudio</button>
</div>
<p id="error-message2" class="errorFile"></p>

<h4 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Lista de Estudios</h4>
<div id="study-list"></div>

<h3 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Experiencia Laboral</h3>

<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="entity" class="labelInfo">Empresa o Entidad*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="entity" name="entity"
            placeholder="Ingrese el nombre de la empresa o la entidad" required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="sector" class="labelInfo">Sector o Industria*</label>
    </div>
    <div class="blockInfo2">
        <select class="typeGenre" id="sector">
            <option selected disabled>Seleccione Un Tipo</option>
            <optgroup label="Sector Primario">
                <option value="agricultura">Agricultura</option>
                <option value="ganaderia">Ganadería</option>
                <option value="pesca">Pesca</option>
                <option value="silvicultura">Silvicultura</option>
                <option value="mineria">Minería</option>
                <option value="petroleo_gas">Extracción de petróleo y gas</option>
            </optgroup>

            <optgroup label="Sector Secundario">
                <option value="industria_alimentaria">Industria alimentaria</option>
                <option value="industria_textil">Industria textil</option>
                <option value="industria_quimica">Industria química</option>
                <option value="construccion">Construcción</option>
                <option value="metalurgia">Metalurgia</option>
                <option value="industria_automotriz">Industria automotriz</option>
                <option value="industria_electronica">Industria electrónica</option>
                <option value="energia">Energía</option>
                <option value="manufactura">Manufactura general</option>
            </optgroup>

            <optgroup label="Sector Terciario">
                <option value="comercio">Comercio</option>
                <option value="transporte_logistica">Transporte y logística</option>
                <option value="turismo_hoteleria">Turismo y hotelería</option>
                <option value="servicios_financieros">Servicios financieros</option>
                <option value="salud">Salud</option>
                <option value="educacion">Educación</option>
                <option value="tecnologia_telecom">Tecnología y telecomunicaciones</option>
                <option value="servicios_profesionales">Servicios profesionales</option>
                <option value="entretenimiento">Entretenimiento y medios</option>
                <option value="seguridad">Seguridad y vigilancia</option>
                <option value="servicios_publicos">Servicios públicos</option>
            </optgroup>

            <optgroup label="Sector Cuaternario">
                <option value="investigacion_desarrollo">Investigación y desarrollo (I+D)</option>
                <option value="tecnologia_informacion">Tecnología de la información (TI)</option>
                <option value="inteligencia_artificial">Inteligencia artificial</option>
                <option value="big_data">Big Data</option>
                <option value="educacion_virtual">Educación virtual</option>
                <option value="servicios_cientificos">Servicios científicos y técnicos</option>
            </optgroup>

            <optgroup label="Sector Quinario">
                <option value="gobierno">Gobierno y administración pública</option>
                <option value="ongs">Organizaciones sin ánimo de lucro</option>
                <option value="servicios_culturales">Servicios culturales y artísticos</option>
                <option value="salud_avanzada">Salud avanzada</option>
                <option value="liderazgo_estrategico">Liderazgo y toma de decisiones</option>
            </optgroup>
        </select>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="city" class="labelInfo">Ciudad*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="city" name="city" placeholder="Ingrese la ciudad" required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="telephone" class="labelInfo">Teléfono*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="number" id="telephone" name="telephone" placeholder="Ingrese el télefono"
            required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="time" class="labelInfo">Tiempo Laborado*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="number" id="time" name="time" placeholder="Ingrese el tiempo laborado en meses"
            required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="role" class="labelInfo">Cargo*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="role" name="role" placeholder="Ingrese el cargo ejecutado" required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="contract" class="labelInfo">Tipo de contrato*</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="contract" name="contract" placeholder="Ingrese el tipo de contrato"
            required>
    </div>
</div>

<div class="buttonBlock animate__animated animate__zoomIn animate__delay-1s">
    <button id="addStudy" class="addButton animate__animated animate__pulse animate__infinite">Añadir
        Experiencia</button>
</div>

<h4 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Lista de trabajos</h4>
<div id="job-list"></div>

<h3 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Idiomas</h3>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="language" class="labelInfo">Agregar idioma</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="language" name="language" placeholder="Ingrese el idioma que sabe"
            required>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="languageLevel" class="labelInfo">Nivel</label>
    </div>
    <div class="blockInfo2">
        <select class="typeGenre" id="languageLevel">
            <option selected disabled>Seleccione Un Nivel</option>
            <option>Nativo</option>
            <option>A1</option>
            <option>A2</option>
            <option>B1</option>
            <option>B2</option>
            <option>C1</option>
            <option>C2</option>
        </select><br>
    </div>
</div>

<div class="buttonBlock animate__animated animate__zoomIn animate__delay-1s">
    <button id="addStudy" class="addButton animate__animated animate__pulse animate__infinite">Añadir Idioma</button>
</div>
<h4 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Lista de Idiomas</h4>
<div id="language-list"></div>

<h3 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Habilidades Técnicas</h3>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="skill" class="labelInfo">Agregar habilidad</label>
    </div>
    <div class="blockInfo2">
        <input class="inputInfo" type="text" id="skill" name="skill" placeholder="Ingrese la habilidad que tiene"><br>
    </div>
</div>
<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="skillLevel" class="labelInfo">Nivel</label>
    </div>
    <div class="blockInfo2">
        <select class="typeGenre" id="skillLevel">
            <option selected disabled>Seleccione Un Nivel</option>
            <option>Principiante</option>
            <option>Intermedio</option>
            <option>Avanzado</option>
        </select><br>
    </div>
</div>
<div class="buttonBlock animate__animated animate__zoomIn animate__delay-1s">
    <button id="addStudy" class="addButton animate__animated animate__pulse animate__infinite">Añadir Habilidad</button>
</div>
<h4 class="thirdName animate__animated animate__zoomIn animate__delay-1s">Lista de Habilidades</h4>
<div id="skill-list"></div>

<p class="infoText animate__animated animate__fadeIn animate__delay-1s">Declaro que he leído y acepto la <a href=""
        target="_blank">Política de
        Privacidad</a> del sistema,
    y autorizo el tratamiento de mis datos personales conforme a la Ley 1581 de 2012 y el Decreto 1377 de 2013</p>

<div class="blockInfo animate__animated animate__zoomIn animate__delay-1s">
    <div class="blockInfo1">
        <label for="signature" class="loginT2">Firma*</label>
    </div>
    <div class="blockInfo2">
        <input type="file" id="signature" name="signature">
    </div>
</div>

<p id="error-message3" class="errorFile"></p>

<div class="buttonBlock animate__animated animate__fadeInUp nimate__delay-1s">
    <select class="typeGenre animate__animated animate__fadeInUp animate__delay-1s" id="courseAC" required>
        <option selected disabled>Seleccione Un Area</option>
        <option>Administración</option>
        <option>Producción</option>
        <option>Calidad</option>
    </select>
</div>


<p id="loadingMessage" class="loading animate__animated animate__flash" *ngIf="loadingMessage">Loading...</p>

<div class="buttonBlock animate__animated animate__fadeInUp nimate__delay-1s">
    <button id="saveData" class="addDataB animate__animated animate__pulse animate__infinite"
        (click)="saveData()">Enviar</button>
</div>