<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__zoomIn">Valor, Identidad, Meríto y Oportunidad</p>

<select class="typeMain animate__animated animate__fadeInUp " id="courseAC" required>
    <option>Todos los Empleados</option>
    <option>Administración</option>
    <option>Producción</option>
    <option>Calidad</option>
</select>

<h2>Estadísticas de {{ tipo }}</h2>

<!-- Tabla -->
<table class="table" *ngIf="datos.length > 0">
  <thead>
    <tr>
      <th>{{ tipo }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datos">
      <td>{{ item[tipo] }}</td>
    </tr>
  </tbody>
</table>

<!-- Gráfica -->
<div *ngIf="chartData.labels && chartData.labels.length > 0">
  <canvas baseChart
    [data]="chartData"
    [type]="chartType">
  </canvas>
</div>