<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__fadeInDown">Valor, Identidad, Mérito y Oportunidad</p>

<div class="loginBlock animate__animated animate__fadeIn animate__delay-1s">
    <label for="user" class="loginT">User</label>
    <input class="boxUser1 " type="text" id="user" name="user"
        placeholder="Enter your User">

    <label for="password" class="loginT">Password</label>
    <input class="boxUser2" type="password" id="password" name="password"
        placeholder="Enter your Password">

    <button class="bUser animate__animated animate__pulse animate__infinite" id="login" routerLink="/resumeMain">Log
        In</button>

        
    <button class="bUser animate__animated animate__pulse animate__infinite" id="login" routerLink="/create">Log
        In</button>

    <p id="loadingMessage" class="loadingUser animate__animated animate__flash">Loading...</p>
</div>