<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__zoomIn">Valor, Identidad, Meríto y Oportunidad</p>

<h2 class="secondName animate__animated animate__fadeInDown">Grupos Estadísticos</h2>

<section class="list animate__animated animate__zoomIn">
    <div class="card">
        <img src="Images/age-group.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Edad</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Edad]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/equality.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Género</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Genero]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/united-nations.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Nacionalidad</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Nacionalidad]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/higher-education.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Nivel de Estudios</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Estudios]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/school.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Universidades o Instituciones</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Institucion]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/labourer.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Años de Experiencia</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Experiencia]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/factory.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Sectores o Industrias</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Sector]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/coordinate.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Cargos o roles</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Cargo]">Ver
            más</button>
    </div>
    <div class="card">
        <img src="Images/languages.png" class="card-img-top" alt="error en imagen">
        <p class="card-title">Idiomas hablados</p>
        <button class="buttonMain animate__animated animate__pulse animate__infinite"
            [routerLink]="['/statsInfo', Idioma]">Ver
            más</button>
    </div>
</section>