<h1 class="mainName animate__animated animate__fadeInDown">VIMO</h1>
<p class="descrip animate__animated animate__fadeIn">Valor, Identidad, Meríto y Oportunidad</p>

<div class="personalInfo2 animate__animated animate__zoomIn animate__delay-1s">
    <div class="photoH">
        <img src="https://picsum.photos/200" alt="photo HDV" class="mainPhoto animate__animated animate__fadeIn">
    </div>
    <div class="contentInfo2">
        <h2 class="secondName2">Información Personal</h2>
        <div class="blockInfo">
            <p class="atribute">Nombre</p>
            <p class="result">'No name'</p>
        </div>
        <div class="blockInfo">
            <p class="atribute">Teléfono</p>
            <p class="result">'No phone'</p>
        </div>
        <div class="blockInfo">
            <p class="atribute">Edad</p>
            <p class="result">'No age'</p>
        </div>
        <div class="blockInfo">
            <p class="atribute">Email</p>
            <p class="results">'No email'</p>
        </div>
        <div class="blockInfo">
            <p class="atribute">CC</p>
            <p class="results"><a href="" target="_blank">'No CC'</a></p>
        </div>
        <div class="blockInfo">
            <p class="atribute">Genero</p>
            <p class="results">'No genre'</p>
        </div>
        <div class="blockInfo">
            <p class="atribute">Nacionalidad</p>
            <p class="results">'No nationality'</p>
        </div>
        <div class="blockInfo">
            <p class="atribute">LinkedIn</p>
            <p class="results"><a href="#" onclick="checkLinkedIn(event, '${resume.linkedin}')">Profile</a></p>
        </div>

    </div>
</div>

<h2 class="secondName animate__animated animate__zoomIn animate__delay-1s">Formación Académica</h2>
<div class="listGenere animate__animated animate__zoomIn animate__delay-1s">
    <p>
        "No studies
        available"
    </p>
</div>

<h2 class="secondName animate__animated animate__zoomIn animate__delay-1s">Experiencia Laboral</h2>
<div class="listGenere animate__animated animate__zoomIn animate__delay-1s">
    <p>
        "No experience available"
    </p>
</div>

<h2 class="secondName animate__animated animate__zoomIn animate__delay-1s">Idiomas</h2>
<div class="listGenere animate__animated animate__zoomIn animate__delay-1s">
    <p>
        "No
        languages available"
    </p>
</div>

<h2 class="secondName animate__animated animate__zoomIn animate__delay-1s">Habilidades Técnicas</h2>
<div class="listGenere animate__animated animate__zoomIn animate__delay-1s">
    <p>
        "No skills available"
    </p>
</div>

<h2 class="secondName animate__animated animate__zoomIn animate__delay-1s">Firma</h2>
<div class="listGenere animate__animated animate__zoomIn animate__delay-1s"><a href="${resume.signature || '#'}"
        target="_blank">Firma digital</a></div>
<br>
<button class="deleteBu animate__animated animate__pulse animate__infinite">Eliminar Hoja de Vida</button>